@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Applied styles for common HTML tags */
  h1 {
    @apply text-base-content text-4xl py-5 font-bold lg:text-6xl font-black;
  }
  h2 {
    @apply text-base-content text-3xl pt-4 pb-3 m-0 font-black lg:text-4xl;
  }
  h3 {
    @apply text-base-content text-2xl pt-3 pb-2 m-0 font-black lg:text-3xl;
  }
  h4 {
    @apply text-base-content text-xl pt-2 pb-1 m-0 font-black lg:text-2xl;
  }
  h5 {
    @apply text-base-content text-lg py-1 m-0 font-black lg:text-xl;
  }
  h6 {
    @apply text-base-content text-base py-0 m-0 font-black lg:text-lg;
  }
  p {
    @apply text-base-content my-1 py-2 text-base leading-6;
  }
  .btn {
    @apply normal-case;
  }

  /* Dropdowns */
  .navdrop {
    max-height: 80vh;
  }

  /* Keep spacing after headings between p and non-p consistent */
  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p {
    padding-top: 0;
    margin-top: 0;
  }
}

/* Override DaisyUI button text color */
.btn-info {
  color: var(--btn-info-content);
}
.btn-success {
  color: var(--btn-success-content);
}
.btn-warning {
  color: var(--btn-warning-content);
}
.btn-error {
  color: var(--btn-error-content);
}

/* Theme gradient */
.theme-gradient {
  background-image: var(--theme-gradient);
}
.theme-gradient.loading {
  animation-name: MOVE-BG;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin-top: 0;
  transition: margin-top 0.2s ease-out;
}
@keyframes MOVE-BG {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -200vw;
  }
}

/* Lightbox */
.lightbox img {
  max-width: calc(100vw - 6rem);
  max-height: calc(100vh - 6rem);
}

/* mdx styles */
.mdx a {
  @apply text-secondary underline decoration-1;
}
.mdx a:hover {
  @apply text-secondary-focus decoration-2 decoration-current;
}
.mdx ul {
  @apply pl-4 list-disc list-inside text-base-content;
}
.mdx ol {
  @apply pl-4 list-decimal list-inside text-base-content;
}
.mdx code {
  @apply bg-accent bg-opacity-10 px-2 rounded text-accent;
}
.mdx pre code {
  @apply bg-inherit;
}
.mdx a.heading-autolink {
  color: currentColor;
  text-decoration: none;
}
.mdx a.heading-autolink:after {
  content: '';
  color: hsl(var(--s));
  font-size: 75%;
  padding-left: 0.5rem;
}
.mdx a.heading-autolink:hover:after {
  content: '#';
}
/* Watch out of P tags in the toc list */
.mdx-toc ul li p {
  margin: 0;
  padding: 0;
  display: inline;
}
/* Keep p tags in lists inline */
.mdx ul li p,
.mdx ol li p {
  margin: 0;
  padding: 0;
  display: inline;
}
.mdx table.mdx-table {
  margin: 2rem auto;
}
.mdx table.mdx-table tr td {
  padding: 0.25rem 0.5rem;
}
.mdx table.mdx-table thead th {
  padding: 8px;
  font-size: 110%;
  border-bottom: 2px solid hsl(var(--b3));
}

